
.header
  position: relative
  height: 1000px
  height: 90vh

.header__block
  text-align: center
  img
    width: 200px
    margin-bottom: $baseline/3
    +breakpoint(palm)
      width: 120px
  p
    font-size: $font-size-small
    color: $black-80

.header--absoluteCenter
  position: absolute
  width: 50%
  height: 116px
  margin: auto
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: auto
  display: inline-block

