
/ Data is set in ``data/meta.yml``
meta name="description" content="#{data.meta.description}"
meta itemprop="image" content="#{data.meta.image}"

/ Title
title itemprop="name"
    - if current_page.data.title
        | #{current_page.data.title} | #{data.meta.title}
    - else
        | #{data.meta.title}

/ URL
link itemprop="url" href="#{data.meta.url}"

/ Page canonical
link rel="canonical" href="#{data.meta.url}"

/ Keywords
/ meta name="keywords" content="#{data.meta.keywords}"
